---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="About"
	description="Learn more about Dave Rodol - from a brief introduction to a detailed biography."
>
	<div class="space-y-12 prose dark:prose-invert lg:prose-lg">
		<section>
			<h1>About Me</h1>

			<h2>The Short Version</h2>
			<p>
				I'm a health and safety professional turned self-taught software maker on the side. I'm passionate about solving problems for people and with people. I believe in the power of collaboration and love to learn from others.
			</p>
		</section>

		<section>
			<h2>The Extended Version</h2>
			<p>
				Coming soon...
			</p>

		</section>


	</div>
</Layout>
